name: Sync Upstream
on:
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch:   

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Sync
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh repo sync ${{ github.repository }} --source https://github.com/Meeep1/EeveeSpotifyRevivedPublic --force
